name: Build & Test & Check

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        rust: [ 1.65, stable, nightly ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup rust version
        run: rustup default ${{ matrix.rust }}

      - name: Output rust version for educational purposes
        run: rustup --version

      - name: Download resources
        run: cd heif_conformance_tests && chmod +x download.sh && ./download.sh && cd ..

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --workspace --verbose

      - name: Check format
        if: matrix.rust == 'stable'
        run: cargo fmt -- --check

      # TODO enable clippy when the issues are fixed
      #      - name: Check clippy
      #        run: cargo clippy -- -D warnings
